#blackBar
{
  position: absolute;
  width: 99%;
  padding-right: 1%;
  padding-bottom: 0.50%;
  height: 3.75%;
  background-color: black;
  color: white;
  text-align: right;
  font-family: 'Oswald';
  font-size: 140%;
}
