#blackBar
{
  position: absolute;
  width: 99%;
  padding-right: 1%;
  padding-bottom: 0.5%;
  height: 3.75%;
  background-color: black;
  color: white;
  text-align: right;
  font-family: 'Oswald';
  font-size: 140%;
}

@media only all and (max-width: 568px) 
{
  #blackBar
    {
   height: 8%; 
  }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape)
{
  #blackbar
    {
    height: 12%;
  }
}