html, body
{
  overflow: hidden;
  height: 100%;
  width: 100%;
}

#bakgrund
{
  position: absolute;
  width: 100%;
  height:100%;
}

#bakgrund2
{
  position: absolute;
  top: 7%;
  left: 2%;
  width: 96%;
  height: 94%;
  background-color: white;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

#feltest
{
  position: absolute;
  top: 20%;
  left: 28%;
  width: 45%;
  height: 50%;
  background-color: white;
  border: 1px solid black;
}

p
{
  position: absolute;
  top: 10%;
  left: 26%;
  font-size: 200%;
}

#testnamn
{
  position: absolute;
  top: 48%;
  left: 38%;
  width: 22%;
  height: 12%;
  font-size: 200%;
}

#ok
{
  position: absolute;
  top: 70%;
  left: 40%;
  width: 18%;
  height: 15%;
  font-size: 150%;
  color: white;
  background-color: black;
  -webkit-appearance: none;
}

#bilder
{
  position: absolute;
  top: 30%;
  left: 3%;
  height: 100%;
  width: 100%;
  float: left;
}

u
{
  position: absolute;
  top: 2%;
  left: 6%;
  font-size: 300%;
}

h1
{
  position: absolute; 
  top: 11%;
  left: 6%;
  font-size: 175%;  
}

h2
{
  position: absolute;
  top: 17%;
  left: 6%;
  font-size: 175%;
}

#title
{
  position: absolute;
  top: 13.5%;
  left: 18.5%;
  width: 30%;
  height: 5.5%;
  font-size: 175%;
}
 
#popup
{
  position: absolute;
  top: -100%;
  left: 22%;
  width: 55%;
  height: 55%;
  background-color: white;
  border: 1px solid black;
}

#kryss
{
  position:relative;
  float:right;
  width: 6%;
  height: 10%;
  font-size: 100%;
  color: white;
  background-color: black;
}
 
.arrows
{
  float: left;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out; 
  -o-transition: all 1s ease-in-out; 
  -ms-transition: all 1s ease-in-out; 
}

.arrows:hover { 
  -webkit-transform: rotate(360deg); 
  -moz-transform: rotate(360deg); 
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg); 
}

.imagecontainer
{
  float: left;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid black;
}

.trashdiv
{
  position: relative;
  top: 80%;
  left: 80%;
  width: 18%;
  height: 18%;
  background-color: white;
  border: 1px solid black;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-image: url('/images/tunna.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.lock
{
  position: relative;
  top: 2.2%;
  width: 100%;
}

.trashdiv .lock
{
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out; 
  -o-transition: all 0.5s ease-in-out; 
  -ms-transition: all 0.5s ease-in-out; 
}
.trashdiv:hover .lock, .trashdiv.hover .lock
{
  -webkit-transform: rotate(-55deg) translate(13px,-8px);
  -moz-transform: rotate(-55deg) translate(13px,-8px); 
  -o-transform: rotate(-55deg) translate(13px,-8px);
  -ms-transform: rotate(-55deg) translate(13px,-8px);
}

#file
{
  width: 0px;
  height: 0px;
  overflow: hidden;
}

#add
{
  position: absolute;
  top: 73%;
  left: 42.5%;
  width: 11%;
  height: 14%;
  background-image: url('/images/addicon.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat; 
}

#testid
{
  position: absolute;
  top: 72%;
  left: 6%;
  width: 44%;
  height: 40%;
  font-size: 150%;
}

a#testLink:link
{
  color: black;
  text-decoration: underline;
}

a#testLink:hover
{
  color: black;
  text-decoration: underline;
}

a#testLink:visited
{
  color: black;
  text-decoration: none;
}

a#testLink:active
{
  color: black;
  text-decoration: none;
}

#andra
{
  position: absolute;
  top: 35%;
  left: -1%;
  width: 60%;
  height: 18%;
  font-size: 75%;
  background-color: black;
  color: white;
}

#pubID
{
  position: absolute;
  top: 14.2%;
  left: 53%;
  width: 40%;
  height: 14%;
  font-size: 100%; 
}

#skickaID
{
  position: absolute;
  top: 16%;
  left: 95%;
  width: 17%;
  height: 13%;
  font-size: 80%;
  background-color: black;
  color: white;
}

@media only all and (max-width: 568px) 
{
  u
    {
	top: 4%;
	left: 3%;
	font-size: 150%;
  }
  
  h1
    {
	top: 10%;
	left: 3%;
	font-size: 100%;
  }
  
  h2
    {
	top: 16%;
	left: 3%;
	font-size: 100%;
  }
  
  #title
  {
    top: 12.5%;
    left: 33%;
    width: 40%;
    height: 4%;
    font-size: 80%;
  }
  
  .trashdiv
  {
    left: 70%;
    width: 30%;
    height: 30%;
    -moz-border-radius: 0px;
    border-radius: 0px;
  }
  
  #add
  {
    position: absolute;
    top: 50%;
    width: 14%;
    height: 16%;
  }
  
  #testid
  {
    top: 64%;
    width: 80%;
    height: 30%;
    font-size: 100%;
  }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 767px) and (orientation : landscape)
{
  #bakgrund2
  {
    top: 5%;  
  }
  
  u
  {
    display: none;
  }
  
  h1
   {
    top: 7%;  
  }
  
  #title
  {
    top: 11%; 
    left: 22.5%;
    height: 7%;
  }
  
  .trashdiv
  {
    left: 70%;
    width: 30%;
    height: 30%;
  }
  
  #add
  {
    top: 80%;
    left: 66%;
  }
  
  #testid
  {
    top: 79%;
    left: 6%;
  }
}
