html, body
{
  overflow: hidden;
  height: 100%;
  width: 100%;
}

#bakgrund
{
  width: 100%;
  height: 100%;
}

h1
{
  position: absolute;
  top: 8%;
  left: 5%;
  font-size: 500%;
}

.svar
{
  width: 200px;
  height: 200px;
  outline: 2px dashed black;
}

#svar1
{
  position:absolute;
  top: 8%;
  left: 22%;
}

#svar2
{
  position:absolute;
  top: 8%;
  left: 42%;
}

#svar3
{
  position:absolute;
  top: 8%;
  left: 62%;
}

#fyraett
{
  position: absolute;
  top: 40%;
  left: 22%;
  width: 200px;
  height: 200px;
  font-size: 175px;
  line-height: 200px;
  vertical-align: middle;
  text-align: center;
}

#fyratva
{
  position: absolute;
  top: 40%;
  left: 62%;
  width: 200px;
  height: 200px;
  font-size: 175px;
  line-height: 200px;
  vertical-align: middle;
  text-align: center;
}

#noll
{
  position: relative;
  top:40%;
  left: 42%;
  width: 200px;
  height: 200px;
  font-size: 175px;
  line-height: 200px;
  vertical-align: middle;
  text-align: center;
}

h2
{
  position: absolute;
  top: 64%;
  width: 100%;
  text-align: center;
  font-size: 250%;
}

a
{
  position: absolute;
  top: 78%;
  width: 100%;
  text-align: center;
  font-size: 250%;
}

a#hem:link
{
  color: black;
  text-decoration: underline;
}

a#hem:hover
{
  color: black;
  text-decoration: underline;
}

a#hem:visited
{
  color: black;
  text-decoration: none;
}

a#hem:active
{
  color: black;
  text-decoration: none;
}