html, body, div
{
  margin: 0;
  padding: 0;
}

body
{
  background-image: url(http://august.friskola.nu/images/kindajean.png);
  -webkit-text-size-adjust: 100%;
  font-family: 'Oswald', sans-serif;
}

input, select, textarea, button
{
  font-family: inherit;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}


#blackBar
{
  position: absolute;
  width: 99%;
  padding-right: 1%;
  padding-bottom: 2px;
  height: 34px;
  background-color: black;
  color: white;
  text-align: right;
  font-family: 'Oswald';
  font-size: 25px;
  z-index: 100;
}

a:link
{
  text-decoration:none;
  background-color: white;
}

a:visited
{
  text-decoration:none;
  background-color: white;
}

a:hover
{
  text-decoration:underline;
  background-color: white;
}

a:active
{
  text-decoration:underline;
  background-color: white;
}  

@media only all and (max-width: 568px) 
{
  #blackBar
  {
    height: 30px;
  }
}
