html, body, div
{
  margin: 0;
  padding: 0;
}

body
{
  background-image: url(http://august.friskola.nu/images/kindajean.png);
  -webkit-text-size-adjust: 100%;
  font-family: 'Oswald', sans-serif;
}

input, select, textarea, button
{
  font-family: inherit;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

#blackBar
{
  position: absolute;
  width: 98%;
  padding-right: 2%;
  padding-bottom: 1%;
  height: 34px;
  background-color: black;
  color: white;
  text-align: right;
  font-family: 'Oswald';
  font-size: 25px;
  z-index: 100;
}

#blackBar a:link
{
  text-decoration: none;
  color: white;
}

#blackBar a:visited
{
  text-decoration: none;
  color: white;
}

#blackBar a:hover
{
  text-decoration: underline;
  color: white;
}

#blackBar a:active
{
  text-decoration: underline;
  color: white;
}  

@media only all and (max-width: 568px) 
{
  #blackBar
  {
    height: 30px;
  }
}
