  #main
      {
        position: relative;
        width: 900px;
        margin-left: auto;
        margin-right:auto;
        height: 900px;
        border: 0px solid black;
      }
      
      #skapa
      {
        position: absolute;
        right: 0;
        top: 300;
      }
      #starta
      {
        position: absolute;
        left: 0;
	top: 300;
      }
      #head
      {
	position: absolute;
	top: -50;
      }
      #main2
      {
	position: relative;
        width: 300px;
        margin-left: auto;
        margin-right:auto;
        height: 900px;
        border: 0px solid black;
      }
      #troll
      {
	position: absolute;
        top: 600;
		
      }
