html, body
{
  overflow: hidden;
  height: 100%;
  width: 100%;
}

#main
{
  position: relative;
  width: 100%;
  height: 100%;
}

#augustbild
{
  position: absolute;
  left: 24%;
  width: 50%;
}
#starta
{
  position: absolute;
  float: left;
  left: 15%;
  top: 58%;
  width: 25%;
}
    
#skapa
{
  position: absolute;
  float: right;
  top: 58%;
  right: 15%;
  width: 25%;
}

#popup
{
  position: absolute;
  top: -100%;
  left: 28%;
  width: 45%;
  height: 40%;
  opacity: 0;
  background-color: white;
}

#kryss
{
  position:relative;
  float:right;
  width: 3%;
  height: 2%;
}