html, body
{
  overflow: hidden;
  height: 100%;
  width: 100%;
}

#main
{
  position: relative;
  left: 15%;
  right: 15%;
  width: 100%;
  height: 100%;
}
    
#skapa
{
  position: absolute;
  right: 0;
  top: 300px;
}

#starta
{
  position: absolute;
  left: 0;
  top: 300px;
}

#head
{
  position: absolute;
  top: -50px;
}

#startatest
{
  position: absolute;
  top: 20%;
  width: 80%;
  height: 90%;
  
}