#omtext
{
  position: absolute;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  top: 7%;
  left: 2%;
  padding: 2%;
  width: 96%;
  height: 300%;
  background-color: white;
  font-size: 150%;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

h1
{
  Font-size: 250%;
  text-align: center;
  line-height: 0%;
}