#omtext
{
  position: absolute;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  top: 7%;
  left: 12.5%;
  padding: 8%;
  padding-top: 2%;
  width: 75%;
  line-height: 150%;
  background-color: white;
  font-size: 120%;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

h1
{
  Font-size: 200%;
  text-align: center;
  line-height: 0%;
}

#visa
{
  cursor: pointer;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  left: 12.5%;
  padding-left: 2%;
  width: 100%;
  border: 2px solid black;
}

#manual
{
  display: none;
}

u
{
  font-size: 110%;
}

#skapa
{
  width: 11%;
}

.ikoner
{
  width: 5%;
}

#fredrik
{
  float: left;
}

#marcus
{
  float: right;
}

p
{
  clear: both;
}

#omtext a
{
  color: black;
  font-style: italic;
}

#omtext a:link
{
  color: black;
  text-decoration: underline;
}

#omtext a:hover
{
  color: black;
  text-decoration: underline;
}

#omtext a:visited
{
  color: black;
  text-decoration: none;
}

#omtext a:active
{
  color: black;
  text-decoration: none;
}

@media only all and (max-width: 568px) 
{
  #omtext
    {
	font-size: 100%;
  }
  
  h1
    {
	display: none;
  }
}
#editpic
{       
	position: relative;
	width: 50%;
        padding:1px;
        border:1px solid #021a40;
}
#dotest
{
	position: absolute;
        width: 40%;
        height:24%;
	float:left;
	
	padding:1px;
        border:1px solid #021a40;
