#omtext
{
  position: absolute;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  top: 7%;
  left: 2%;
  padding: 8%;
  padding-top: 2%;
  width: 96%;
  height: 260%;
  line-height: 110%;
  background-color: white;
  font-size: 120%;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

h1
{
  Font-size: 200%;
  text-align: center;
  line-height: 0%;
}

u
{
  font-size: 110%;
}

#skapa
{
  width: 14%;
}

.ikoner
{
  width: 8%;
}

#omtext a
{
  color: black;
  font-style: italic;
}

#omtext a:link
{
  color: black;
  text-decoration: underline;
}

#omtext a:hover
{
  color: black;
  text-decoration: underline;
}

#omtext a:visited
{
  color: black;
  text-decoration: none;
}

#omtext a:active
{
  color: black;
  text-decoration: none;
}

@media only all and (max-width: 568px) 
{
  #omtext
    {
	font-size: 100%;
  }
  
  h1
    {
	display: none;
  }
}