html, body
{
  overflow: hidden;
  height: 100%;
  width: 100%;
  -webkit-text-size-adjust: 100%;
  background-image: url(http://august.friskola.nu/uploads/123456/kindajean.png);
}

input
{
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

#feltest
{
  position: absolute;
  top: 20%;
  left: 28%;
  width: 45%;
  height: 50%;
  background-color: white;
  border: 1px solid black;
}

p
{
  position: absolute;
  top: 10%;
  left: 26%;
  font-size: 200%;
}

#testnamn
{
  position: absolute;
  top: 48%;
  left: 38%;
  width: 22%;
  height: 12%;
  font-size: 200%;
}

#ok
{
  position: absolute;
  top: 70%;
  left: 40%;
  width: 18%;
  height: 15%;
  font-size: 150%;
  color: white;
  background-color: black;
  -webkit-appearance: none;
}

#bakgrund
{
  position: absolute;
  top: 13%;
  left: 2%;
  width: 96%;
  height: 88%;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background-image: url(http://august.friskola.nu/uploads/123456/geometry.png);
}

#rubrik
{
  position: absolute;
  left: 45%;
  top: 5.5%;
  width: 15%;
  height: 7%;
  font-size: 250%;
}

#top
{
  position: relative;
  top: 15%;
  left: 3%;
  right: 5%;
  width: 100%;
  height: 100%;
}

.svar
{
  float: left;
  outline: 2px dashed black;
}	

#bilder
{
  position: absolute;
  top: 40%;
}
	
#resultat
{
  position: absolute;
  top: 55%;
  left: 35%;
  font-size: 250%;
}

#rätta
{
  position: absolute;
  top: 27%;
  right: 3%;
  width: 8%;
  height: 10%;
  font-size: 150%;
  color: white;
  background-color: black;
  -webkit-appearance: none;
}

@media only all and (max-width: 480px) 
{
  #feltest
    {
    top: 5%;
    left: 4%;
    width: 92%;
    height: 80%; 
  }
  
  p
    {
    top: 10%;
    left: 10%;
    font-size: 150%; 
  }
  
  #testnamn
   {
    top: 44%;
    left: 30%;
    width: 32%;
    height: 12%;
    font-size: 150%;
  }

  #ok
   {
    top: 70%;
    left: 35%;
    width: 24%;
    height: 15%;
    font-size: 150%;
  }
  
  #rubrik
    {
  left: 35%;
  top: 2%;
  width: 40%;
  height: 12%;
  font-size: 200%;
  }
  
  #top
    {
    left: 5%;
  }
  
    #rätta
    {
    top: 38%;
    left: 36%;
    width: 32%;
    height: 10%;
    font-size: 100%;
  }
}