<?php

  $privateID = $matches[1];
  $test = getTestByPrivateID($privateID);
  $publicID = getPublicIDByPrivateID($privateID);


 $stylesheet = "edit";
 include("views/header.php.html");
 
?>
  <div id="bakgrund">
    <div id="text">
	  <font face="Century" size="5" ><h1>Ange test titeln: </h1></font>
	</div>
	<input type="text" id="titel" size="10" />
	  
	<div id="bilder"></div>
	<div id="add"></div>
  </div>
  <div id="popup">
    <button id="kryss">X</button>
	<form id="bildform" >
	  <input type="text" id="" required>
	</form>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>
    <script>
 
 	var bilder = [<?php $i = 1;foreach ($test['images'] as $image) { ?>
	{file: "http://august.friskola.nu/uploads/<?= $publicID ?>/<?= $image ?>", 
	 num: "<?= $i-1 ?>",
	 id: "bild<?= $i++ ?>"}<?= (count($test["images"]) >= $i ? "," : "") ?>
<?php } ?>];

  function swap(i)
  {
    $.ajax({ url:     "/bytBild/<?= $privateID ?>/"+i+"/"+(i+1), 
             type:    "GET",
             success: function()
			 { 
               $('#bild'+i).css('background-image', 'url('+bilder[(i+1)].file+')');
			   $('#bild'+(i+1)).css('background-image', 'url('+bilder[i].file+')');
			   temp = bilder[i];
			   bilder[i] = bilder[(i+1)];
			   bilder[i+1] = temp;
			 },
             error:   function() { alert("Det gick dåligt!"); }
           }
     	  )	  
   }
   
   function taBortBild(i)
   {
     $.ajax({ url:    "/taBortBild/<?= $privateID ?>/"+i, 
              type:    "GET",
              success: function() 
			  { 
			    $('#bild'+i).css("background-image", "none");
                $('#trash'+i).remove();			   
			  },
              error:   function() { alert("Det gick dåligt!"); }
           }
     	  )	  
   }
  </script>
  <script src="/scripts/filter_polyfill/cssParser.js"></script>
  <script src="/scripts/filter_polyfill/css-filters-polyfill.js"></script>
  <script src="/scripts/edit.js"></script>
  </body>
</html>