<?php

  $privateID = $matches[1];
  $test = getTestByPrivateID($privateID);
  $publicID = getPublicIDByPrivateID($privateID);


 $stylesheet = "edit";
 include("views/header.php.html");
 
?>
  <div id="bakgrund">
    <div id="text">
	  <font face="Oswald" size="5" >Testets namn:</font>
	</div>
	 <div id="text2">
	  <font face="Oswald" size="5" >Testets bilder:</font>
	</div>
	 <div id="text3">
	  <font face="Oswald" size="6" >Redigera test</font>
	</div>
	<input name="title" type="text" id="title" size="14" /> 
	<div id="bilder"></div>
	<div id="add">
	<div id="file">
	  <form id="uppladdning" method="post" enctype="multipart/form-data" action="/laddaUppBild/<?= $privateID ?>">  
        <input name="picture" onchange="this.form.submit()" type="file" id="fileinput"/>
	  </form>
    </div>
	</div>
  </div>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
  <script src="http://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>
  <script>
 
  var bilder = [<?php $i = 1;foreach ($test['images'] as $image) { ?>
  {file: "http://august.friskola.nu/uploads/<?= $publicID ?>/<?= $image ?>", 
   num: "<?= $i-1 ?>",
   id: "bild<?= $i++ ?>"}<?= (count($test["images"]) >= $i ? "," : "") ?>
<?php } ?>];

  function updateTitle()
  {
    $.ajax({ url: "/uppdateraTitel/<?= $privateID ?>", 
	type: "POST" , 
	data: {"title": $('#title').val()},
	success: function(){ $('#title').css("border-style","none") } ,
	error: function() {alert("det gick dåligt");}
	})
  }

  function swap(i)
  {
    $.ajax({ url:     "/bytBild/<?= $privateID ?>/"+i+"/"+(i+1), 
             type:    "GET",
             success: function()
			 { 
               $('#bild'+i).css('background-image', 'url('+bilder[(i+1)].file+')');
			   $('#bild'+(i+1)).css('background-image', 'url('+bilder[i].file+')');
			   temp = bilder[i];
			   bilder[i] = bilder[(i+1)];
			   bilder[i+1] = temp;
			 },
             error:   function() { alert("Det gick dåligt!"); }
           }
     	  )	  
   }
   
   function taBortBild(i)
   {
     $.ajax({ url:    "/taBortBild/<?= $privateID ?>/"+i, 
              type:    "GET",
              success: function() 
			  { 
			    $('#bild'+i).css("background-image", "none");
                $('#trash'+i).remove();	
				window.location.reload(true);
			  },
              error:   function() { alert("Det gick dåligt!"); }
           }
     	  )	  
   }
  </script>
  <script src="/scripts/edit.js"></script>
  </body>
</html>
