<?php

  $privateID = $matches[1];
  $test = getTestByPrivateID($privateID);
  $publicID = getPublicIDByPrivateID($privateID);


 $stylesheet = "edit";
 include("views/header.php.html");
 
?>
    <div id="text">
	  <font face="Century" size="5" <h1>Ange test titeln: <h1></font>
	</div>
	<input type="text" id="titel" size="10" />
	<div id="popup">
      <button id="kryss">X</button>
	  <form id="bildform" >
	    <input type="text" id="" required>
	  </form>
    </div>
  	
	<div id="bilder"></div>
	<div id="add"></div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>
    <script>
 
 	var bilder = [<?php $i = 1;foreach ($test['images'] as $image) { ?>
	{file: "http://august.friskola.nu/uploads/<?= $publicID ?>/<?= $image ?>", 
	 num: "<?= $i-1 ?>",
	 id: "bild<?= $i++ ?>"}<?= (count($test["images"]) >= $i ? "," : "") ?>
<?php } ?>];
  </script>
  <script src="/scripts/filter_polyfill/cssParser.js"></script>
  <script src="/scripts/filter_polyfill/css-filters-polyfill.js"></script>
  <script src="/scripts/edit.js"></script>
  </body>
</html>