<?php 

  $stylesheet = "error";
  include("views/header.php.html"); 

?>
  
  <div id="bakgrund">
    <h1>ERROR</h1>
    <div class="svar" id="svar1"></div>
    <div class="svar" id="svar2"></div>
    <div class="svar" id="svar3"></div>
    <div class="fyra">4</div>
    <div class="noll">0</div>
    <div class="fyra">4</div>
</div>    
  <script>
    $('.fyra,.noll').draggable({snap: ".svar", snapMode: "inner", stack: ".dragbild" ,containment: "#bakgrund"});
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
  <script src="http://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>
  <script src="/scripts/jquery.ui.touch-punch.js"></script>  
  </body>
</html>
