<?php

$stylesheet = "home";
include("views/header.php.html");

?>
  <div id="main">
    <img src="images/background2.jpg" alt="image_text" id="head" height="600" width="900">
    <img src="images/starta3.jpg"  id="starta" />
    <a href="error.php.html"><img src="images/skapa2.jpg" alt="description_text" id="skapa" width="400" height="300"/></a>
  </div>
  <div id="starttest">Hej</div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
  <script src="http://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>
  <script>
  
    $("#starta").click(function(){
	
      $("#starttest").css("top", "10%");
	
	  $("#starttest").animate({
        opacity: "1",
		backgroundColor: "green"
	  },1800);
	  
	  $("#main").css("display", "none");
	  
	  $("body").animate({
	    backgroundColor: "black"
		},1800);
	});
  
  </script>
  </body>
</html>
