<?php

  $stylesheet = "om";
  include("views/header.php.html");
  
  
?>

<div id="omtext">

<h1>AUGUST</h1><br>

<img id="editpic" src="/images/editpics.png">

<img id="dotest" src="/images/dotest.png">

August är ett system ämnat för lärare och elever på högstadiet.
I AUGUST kan man skapa enkla övningar där målet är att lägga ett antal bilder i rätt ordning genom att dra och släppa dem i rätt boxar. 
När man är nöjd kan man välja Rätta och då se vilka bilder som ligger rätt och vilka som ligger fel.
Man kan då flytta om dem felaktiga, och välja att rätta igen, tills ordningen stämmer.
<br>
<br>
<div id="visa">Visa Manual
  <div id="manual">
  <u>Hur man gör ett test:</u><br><br>
  Börja med att trycka på Skapa Test för att komma till redigera vyn:<br>
  <img id="skapa" src="/images/skapa.png">
  <br>
  För att lägga in bilder i testet används:<br>
  <img class="ikoner" src="/images/addicon.png">
  <br>
  För att byta plats på två bilder i testet används:<br>
  <img class="ikoner" src="/images/swap.png">
  <br>
  För att ta bort en bild används: <br>
  <img class="ikoner" src="/images/delete.png">
  <br>
  Se till att bilderna ligger i rätt ordning från vänster till höger. Skriv in testets titel och ändra det publika id:et om du vill göra det lättare att hitta.
  Testet sparas efter varje ändring man gör så när man är klar med testet är det bara att stänga ner fliken/fönstret.
  </div>
</div>
<br>
<br>
<u>Augusts Utvecklare</u><br><br>
August är skapat av Fredrik Bragge och Marcus Bergman från Teknik Fyran på Tumba Gymnasium som ett praktikarbete för Roboro och Södertörns friskola med hjälp av Mikael Tylmad.<br>
För mer information om projektet eller dem involverade se:<br>
<a href="http://friskola.nu/">Södertörns Friskola</a><br>
<a href="http://tumbagymnasium.se/program/t4/">Tumba Gymnasium Teknik Fyran</a><br>
<a href="http://roboro.se/">Roboro</a><br>
<a href="https://github.com/MarcusBergman/Live">Projektet på GitHub</a><br>
</div>
</body>
</html>
