<?php

  $stylesheet = "om";
  include("views/header.php.html");
  
  
?>

<div id="omtext">

August
AUtomatisk GraderingsUtensil för Seriella Teckningar<br>
August är ett system ämnat för lärare och elever på högstadiet.
I AUGUST kommer man att kunna skapa enkla övningar där målet är att lägga ett antal bilder i rätt ordning genom att dra och släppa dem i rätt boxar. 
När man är nöjd kan man välja Rätta och då se vilka bilder som ligger rätt och vilka som ligger fel.
Man kan då flytta om dem felaktiga, och välja att rätta igen, tills ordningen stämmer

</div>

  </body>
</html>
