<?php

  $stylesheet = "om";
  include("views/header.php.html");
  
  
?>

<div id="omtext">

<h1>AUGUST</h1><br>

August är ett system ämnat för lärare och elever på högstadiet.
I AUGUST kan man skapa enkla övningar där målet är att lägga ett antal bilder i rätt ordning genom att dra och släppa dem i rätt boxar. 
När man är nöjd kan man välja Rätta och då se vilka bilder som ligger rätt och vilka som ligger fel.
Man kan då flytta om de felaktiga, och välja att rätta igen, tills ordningen stämmer.

<img id="editpic" src="/images/redirättsproccess.png">

<img id="dotest" src="/images/testrättsproccess.png"><br>

<br>
<br>
<div id="visa">Visa/Dölj Manual<br>
  <div id="manual">
  <u>Hur man gör ett test:</u><br><br>
  Börja med att trycka på Skapa Test för att komma till redigera vyn:<br>
  <img id="skapa" src="/images/skapa.png">
  <br>
  För att lägga in bilder i testet används:<br>
  <img class="ikoner" src="/images/addicon.png">
  <br>
  För att byta plats på två bilder i testet används:<br>
  <img class="ikoner" src="/images/swap.png">
  <br>
  För att ta bort en bild används: <br>
  <img class="ikoner" src="/images/delete.png">
  <br>
  Se till att bilderna ligger i rätt ordning från vänster till höger. Skriv in testets titel och ändra det publika id:et om du vill göra det lättare att hitta.
  Testet sparas efter varje ändring man gör så när man är klar med testet är det bara att stänga ner fliken/fönstret.<br>
  </div>
</div>
<br>
  <div id="utvecklare">
    <h2><u>Augusts Utvecklare</u></h2>
	<div id="fredrik">
    <h2>Fredrik Bragge</h2><br>
    @: fredrikbragge@gmail.com
  </div>
	<div id="marcus">
    <h2>Marcus Bergman</h2><br>
    @: marcus_bergman@hotmail.se<br>
  </div>
    <p>August är skapat av elever från Teknikfyran på Tumba Gymnasium som ett praktikarbete för Roboro och Södertörns friskola med hjälp av Mikael Tylmad.
    August är skapat som ett open source projekt och finns tillgängligt på <a href="https://github.com/MarcusBergman/Live">GitHub<img id="GHLogo" src="/images/github.png"></a></p>
    <div id="logotyper">
	  <a href="http://friskola.nu/"><img id="SFLogo" src="/images/sf.gif" title="Södertörns friskola"></a>
      <a href="http://tumbagymnasium.se/program/t4/"><img id="TGLogo" src="/images/tg.png" title="Tumba Gymnasium T4"></a>
      <a href="http://roboro.se/"><img id="RLogo" src="/images/roboro.png" title="Roboro"></a>
	</div>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>
<script>

  $("#visa").click(function()
  {
    $("#manual").slideToggle("easing"); 			
  });

</script>
</body>
</html>
