<?php

  $stylesheet = "run";
  include("views/header.php.html");
  
  $id = $matches[1];
  $test = getTestByPublicID($id);
  
?>
  <div id="bakgrund"></div>
  <div id="rubrik"><?= $test["title"] ?> </div>
  <div id="resultat"></div>
  <div id="top">
  <div id="bilder"></div>
  </div>
	
  <input type="submit" id="rätta" value="Rätta">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>
	<script src="/scripts/jquery.ui.touch-punch.js"></script>
    <script>
	var bilder = [
<?php $i = 1;  foreach ($test["images"] as $image){ ?>
	{file: "http://august.friskola.nu/uploads/<?= $id ?>/<?= $image ?>", order: "<?= $i ?>", id: "bild<?= $i++ ?>"}<?= (count($test["images"]) >= $i ? "," : "") ?>

<? } ?>];

    var facit = {
<?php 
  $j = count($test["images"]);
  for($i=1; $i<=$j; $i++) : ?>
    svar<?= $i ?>:"bild<?= $i ?>"<?= ($i<$j) ? ",\n" : "" ?>
<?php endfor; ?> 		
	};
	
    </script>
	<script src="/scripts/run.js"></script>
  </body>
</html>
